/* GLobal properties. */

* {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", sans-serif !important;
  color: white;
  text-decoration: none;
}

/* Properties for HTML elements. */

.subheader, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: rgb(6, 11, 26);
  height: 100%;
  width: 100%;
  margin: 0;
}

main {
  height: 100%;
  padding: 16px;
}

/* Properties for subheader. */

.subheader {
  overflow: hidden;
}

.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.5em;
  white-space: nowrap;
}

.title-img {
  position: relative;
  background-image: url("background-lowres.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(12px);
  transform: scale(1.03);
}

#subheader-table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

#subheader-table th {
  padding: 20px;
  font-size: 1.5em;
}

#subheader-table a, #navbar-table a {
  color: #DDDDDD;
}

#subheader-table a:hover, #navbar-table a:hover {
  color: white;
}

/* Properties for navigation bar (header). */

.header {
  background: rgb(21, 15, 66);
  height: auto;
}

.header h2 {
  float: left;
  margin-left: 10px;
  vertical-align: middle;
  position: relative;
}

#navbar-table {
  border-collapse: separate;
  border-spacing: 2px;
  position: relative;
  white-space: nowrap;
  margin-left: auto;
  text-align: right;
}

#navbar-table th{
  padding: 20px;
  font-size: 18px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky + main {
  padding-top: 100px;
}
